{% extends 'base.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}

    <h1>Rejestracja</h1>

    <p>Sukces! Dziękujemy za rejestrację.</p>
    
    <p>Sprawdz adres email w celu aktywacji konta.</p>

{% endblock %}
