{% extends 'base.twig' %}

{% block title %}Bilans miesieczny{% endblock %}

{% block body %}

    <!-- Balance -->
    <section class="light-colored-section" id="balance">

        <div class="container-fluid">
            <h1 class="title-heading">BILANS MIESIĘCZNY</h1>

            <div class="row">

                <div class="single-column col-lg-6">
                    <div class="card">
                        <h1 class="balance-heading">Przychody</h1>
                        <hr>
                        <p class="balance-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                            varius quam
                            in venenatis venenatis. Aliquam vestibulum sodales mauris in gravida. Aliquam fermentum,
                            metus
                            ac porta mollis, libero diam mollis dui, sodales consequat tellus arcu quis dui. Ut ornare
                            vestibulum felis, a feugiat nisl bibendum mattis. Vestibulum nec ante dictum, sagittis nulla
                        </p>
                    </div>
                </div>

                <div class="single-column col-lg-6">
                    <div class="card">
                        <h1 class="balance-heading">Wydatki</h1>
                        <hr>
                        <p class="balance-paragraph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                            varius quam
                            in venenatis venenatis. Aliquam vestibulum sodales mauris in gravida. Aliquam fermentum,
                            metus
                            ac porta mollis, libero diam mollis dui, sodales consequat tellus arcu quis dui. Ut ornare
                            vestibulum felis, a feugiat nisl bibendum mattis. Vestibulum nec ante dictum, sagittis nulla
                        </p>
                    </div>
                </div>

            </div>
        </div>


        <div class="container-fluid">
            <div class="row">

                <div class="single-column-thin col-lg-12">
                    <div class="card">
                        <h1 class="balance-heading-full">Bilans</h1>
                        <hr>
                        <p class="balance-paragraph-full">Gratulacje, świetnie zarządzasz finansami!</p>
                    </div>
                </div>

            </div>
        </div>

        <div class="container-fluid">
            <div class="row">

                <div class="single-column-wide col-lg-12">
                    <div class="card">
                        <h1 class="balance-heading-full">Twoje wydatki z wybranego okresu</h1>
                        <hr>
                        <img class=""
                            src="https://skuteczneraporty.pl/wp-content/uploads/2010/09/wykres-ko%C5%82owy-1.png"
                            alt="chart">
                    </div>
                </div>

            </div>
        </div>


    </section>

{% endblock %}
