{% extends "base.twig" %}

{% block title %}Budget Manager{% endblock %}

{% block body %}

    <!-- Title -->
    <section class="light-colored-section" id="main-text">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <h1 class="title-heading">Oszczędzaj mądrze!</h1>
                    <p class="title-paragraph">Już dziś skorzystaj z możliwości oszczędzania razem z @Budget Manager i
                        spełnij
                        swoje marzenia. Zarejestruj się i miej wpływ na finanse.</p>
                </div>
                <div class="col-lg-6 position-relative"">
          <img class=" title-image" src="images/cash.webp" alt="cash">
                </div>
            </div>
        </div>
    </section>

{% endblock %}
